/* Bordered form */
.header {
  color: green;
  text-align: center;
  font-size: 300%;
  font-family: "Arial Black", Gadget, sans-serif

}

// form {
//     border: 3px solid #f1f1f1;
// }

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 40%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Arial Black", Gadget, sans-s
}
